


.container{
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.a{
  background-color: blue;
  height: 150px;
}
.b{
  background-color: brown;
  height: 700px;
}
.c{
  background-color: cornflowerblue;
  height: 150px;
}
@media (min-width: 600px){
  
  .container{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a{
    flex-basis: 100%;
  }
  
  .b{
    flex-basis: 75%;
  }
  .c{
    flex-direction: column;
    flex-basis: 20%;
    height: 700px;
  }
}
  
